.capture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for legibility */
    padding: 20px; /* Increased padding for a larger look */
    border-radius: 10px;
    color: #fff;
    margin: 20px auto; /* Adjusted margin for optimal spacing */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Added subtle shadow for depth */
}

@media (max-width: 768px) {
    .capture-container {
        padding: 10px;
        margin: 10px auto;
    }
}

.webcam-container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webcam-view, .captured-image {
    max-width: 600px;
    width: 100%;  /* Full width but with respect to parent's max-width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    object-fit: contain; /* Ensure content is resized to fit within bounds */
}

.mirrored {
    transform: scaleX(-1); /* Mirror the webcam and captured image */
}

