.pages-container {
    max-width: 80% !important; /* Adjust to desired max width */
    max-height: 80% !important; /* Adjust to desired max height */
    margin: auto; /* Center the container */
}

.example-container {
    width: 100%; /* Take up full width of the parent container */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Make this a positioned element for absolute positioning of children */
}

.example-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Use cover to maintain aspect ratio while filling parent */
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 78%;
    object-fit: contain;
    transform: translate(-85%, -50%);
}