.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use full viewport height */
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    background: url('../images/background_ai_project.png') no-repeat center center fixed;
    background-size: cover;
    color: white; /* Adjust based on your design */
}

/* Common styles for all pages */
.pages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    max-height: 100vh;
    padding: 40px;
    border-radius: 10px;
    margin: 1% 12.5% 1% 12.5%;
    text-align: left;
    background: none;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.pages-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

.header-container {
    position: relative;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 1%;
    font-size: 4em; /* or your preferred size */
    text-align: center;
    color: white;
}

p {
    font-size: calc(1em + 0.5vw); /* Increase font size as viewport width increases */
}
.description {
    line-height: 1.5;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}


.form-button {
    background-color: transparent; /* Clear fill */
    color: white; /* White text */
    border: 2px solid white; /* White border */
    padding: 10px 18px; /* Padding for better touch area */
    font-size: 20px; /* Readable font size */
    cursor: pointer; /* Cursor indicates it's clickable */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color changes */
}

.form-button.selected {
    background-color: rgba(255, 255, 255, 0.5); /* White fill on select */
    color: #0F0; /* Green text when selected */
    font-weight: bold;
}

.form-button:hover {
    background-color: rgba(255, 255, 255, 0.5); /* White fill on hover */
    color: #0F0; /* Green text on hover */
}
